@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Work+Sans:wght@700&display=swap');

$font-primary: "Open Sans", sans-serif;
$font-secondary: "Work Sans", sans-serif;

$color-primary: #27285C;
$color-secondary: #00BFFF;
$color-tertiary: #FAFAD2;
$color-black: #333333;
$color-white: #fafafa;

* {
  margin: 0;
  padding: 0;
  font-family: $font-primary;
  color: $color-primary;
  background-color: $color-white;
}

a:link, 
a:visited {
  text-decoration: none;
}