.navigation {
  height: 20vh;
  padding: 40px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    height: 125px;
  }
}

.button {
  display: block;
  width: 150px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: $color-primary;
  font-weight: bold;
  color: $color-white;
  text-align: center;
  border: none;
  
  &--navigation {
    width: 100px;
    border: 2px solid $color-primary;
    background-color: $color-white;
    color: $color-primary;
  }

}

.footer {
  height: 150px;
  background-color: $color-tertiary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__links {
    font-size: 20px;
    font-weight: bold;
    background-color: $color-tertiary;
    margin: 10px;
  }
}
