
.header {
  display: flex;
  justify-content: center;
  align-items: center;

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

  &__heading {
    color: $color-secondary;
    font-size: 50px;
    font-weight: bold;
  }

  &__sub-heading {
    font-size: 40px;
    font-weight: bold;
  }

  &__sub-heading-2 {
    color: $color-secondary;
    font-size: 40px;
    font-weight: bold;
  }

  &__description {
    font-size: 30px;
  }

  &__button {
    margin: 30px;
  }
}
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 40px;

  &__heading {
    font-size: 35px;
  }

  &__table {
    
    &__row {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 40px;
    }

    &__points {
    font-size: 35px;
    }

    &__points-main {
      font-weight: bold;
    }
     
    &__image {
      size: 50px;
      padding: 20px;
    }
  
  }

}

.footer {
  height: 150px;
  background-color: $color-tertiary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__links {
    font-size: 20px;
    font-weight: bold;
    background-color: $color-tertiary;
    margin: 10px;
  }
}