@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Work+Sans:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: #27285C;
  background-color: #fafafa;
}

a:link,
a:visited {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.header .intro__heading {
  color: #00BFFF;
  font-family: "Work Sans", sans-serif;
  font-size: 45px;
  font-weight: bold;
}
.header .intro__sub-heading {
  font-size: 40px;
  font-weight: bold;
}
.header .intro__sub-heading-2 {
  color: #00BFFF;
  font-family: "Work Sans", sans-serif;
  font-size: 40px;
  font-weight: bold;
}
.header .intro__description {
  font-size: 30px;
  font-weight: normal;
}
.header .intro__button {
  margin: 30px;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 40px;
}
.features__heading {
  font-size: 35px;
  font-weight: bold;
}
.features__table__row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.features__table__points {
  font-size: 30px;
}
.features__table__points-main {
  font-weight: bold;
}
.features__table__points-sub {
  font-style: italic;
}
.features__table__image {
  size: 50px;
  padding: 20px;
}

.navigation {
  height: 20vh;
  padding: 40px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation__logo {
  height: 125px;
}

.button {
  display: block;
  width: 150px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #27285C;
  font-weight: bold;
  color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.button--navigation {
  height: 60px;
  font-size: 30px;
  border: 2px solid #27285C;
  background-color: #fafafa;
  color: #27285C;
}

.footer {
  height: 150px;
  background-color: #FAFAD2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__links {
  font-size: 20px;
  font-weight: bold;
  background-color: #FAFAD2;
  margin: 10px;
}